/* Reset Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Kanit', sans-serif;
}
/* Deixar as imagens responsivas */
img{
    max-width: 100%;
}
html{
    -webkit-tap-highlight-color: transparent;
}
/* Variáveis root - dark and light mode */
html[data-theme="light"]{
    --bg: #FFFFFF;
    --color-text: #000;
    --box-shadow: 0 0 0.7rem #000746;
    --bg-link: #000746;
    --color-link: #ffff;
}
html[data-theme="dark"]{
    --bg:#000216;
    --color-text: #fff;
    --box-shadow: 0 0 0.7rem white;
    --bg-link: #fff;
    --color-link: #000;
}
body{
    background-color: var(--bg);
}
/* Conteudo principal */
#container-principal{
    /* padding: 70px 0; */
    /* height: 100vh; */
}
#container-principal .container-width{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* Mudar tema */
#container-principal .container-width .container-input-checkbox{
    display: flex;
    position: absolute;
    left: 350px;
    top: 10px;
}
.mudar-tema{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}
.mudar-tema input{
    display: none;
}
.slider{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 34px;
    background-color: #000746;
    cursor: pointer;
    transition: 0.4s;
}
.slider:before{
    content: "";
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.4s;
}
input:checked + .slider:before{
    transform: translateX(25px);
}
.slider svg{
    position: absolute;
    color: #fff;
    transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
    pointer-events: none;
}
.efeito-sol{
    right: 10px;
    bottom: 9px;
    opacity: 1;
    transform: translateX(0px);
}
.efeito-lua{
    left: 9px;
    bottom: 9px;
    opacity: 0;
    transform: translateX(4px);
}
input:checked + .slider .efeito-lua{
    transform: translateX(0);
    opacity: 1;
}
input:checked + .slider .efeito-sol{
    transform: translateX(-4px);
    opacity: 0;
}
/* Container infos */
#container-principal .container-width .container-infos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container-principal .container-width .container-infos img{
    width: 15%;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}
#container-principal .container-width .container-infos h1{
    font-size: 1.5rem;
    padding-top: 5px;
    font-weight: normal;
    color: var(--color-text);
}
/* Links */
.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
    padding-top: 20px;
}
.links a{
    width: 33%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 1.3rem;
    gap: .5rem;
    box-shadow: var(--box-shadow);
    text-decoration: none;
    color: var(--color-text);
    transition: .3s;
}
.links a:nth-child(3), .links a:nth-child(4){
    margin-bottom: 0;
}
.links a:hover{
    background-color: var(--bg-link);
    color: var(--color-link);
}
/* Footer */
#rodape{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#rodape .span-1{
    font-size: 1.3rem;
    color: var(--color-text);
    font-weight: bold;
}
#rodape .span-2{
    font-size: 1rem;
    color: var(--color-text);
}

/* Responsividade */
@media screen and (min-width: 1440px){
    #container-principal .container-width .container-input-checkbox{
        left: 380px;
    }
}

@media screen and (max-width: 1024px){
    #container-principal .container-width .container-input-checkbox{
        left: 170px;
    }
}

@media screen and (max-width: 768px){
    /*Dark mode*/
    #container-principal .container-width .container-input-checkbox{
        left: 110px;
    }
    /* Container infos */
    #container-principal .container-width .container-infos img{
        width: 18%;
    }
}

/* Responsividade - 540px */
@media screen and (max-width: 540px){
    #container-principal{
        padding: 100px 0;
    }
    #container-principal .container-width .container-input-checkbox{
        left: 70px;
    }
    /* Container infos */
    #container-principal .container-width .container-infos img{
        width: 28%;
    }
    /* Links */
    .links{
        gap: 0%;
    }
    .links a{
        width: 70%;
        font-size: 1.3rem;
    }
    .links a:nth-child(3), .links a:nth-child(4){
        margin-bottom: 20px;
    }
}

/* Responsividade - 425px */
@media screen and (max-width: 425px){
    /*Dark mode*/
    #container-principal .container-width .container-input-checkbox{
        left: 40px;
    }
    /* Container infos */
    #container-principal .container-width .container-infos img{
        width: 35%;
    }
    #container-principal .container-width .container-infos h1{
        font-size: 1.4rem;
    }
    .links a{
        width: 80%;
    }
}

/* Resposividade - 375px */
@media screen and (max-width: 375px){
    /*Dark mode*/
    #container-principal .container-width .container-input-checkbox{
        left: 20px;
    }
    .mudar-tema{
        height: 32px;
    }
    .slider{
        border-radius: 32px;
    }
    .slider:before{
        height: 24px;
        width: 24px;
    }
    .efeito-lua{
        bottom: 8px;
    }
    .efeito-sol{
        bottom: 8px;
    }
    /* Container infos */
    #container-principal .container-width .container-infos img{
        width: 40%;
    }
    /* Links */
    .links a{
        width: 90%;
    }
}

/* Responsividade - 320px */
@media screen and (max-width: 320px){
     /*Dark mode*/
     #container-principal .container-width .container-input-checkbox{
        left: 10px;
    }
    /* Container infos */
    #container-principal .container-width .container-infos h1{
        font-size: 1.3rem;
    }
    /* links */
    .links a{
        font-size: 1.2rem;
    }
    /* Rodape */
    #rodape .span-1{
        font-size: 1.2rem;
    }
    #rodape .span-2{
        font-size: 0.9rem;
    }
}

/* Responsividade - 280px */
@media screen and (max-width: 280px){
    /* Container infos */
    #container-principal .container-width .container-infos h1{
        font-size: 1.2rem;
    }
    /* links */
    .links a{
        height: 90px;
        font-size: 1.1rem;
    }
    #rodape .span-1{
        font-size: 0.9rem;
    }
    #rodape .span-2{
        font-size: 0.8rem;
    }
}