/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Kanit', sans-serif;
}
img{
    max-width: 100%;
}
html{
    -webkit-tap-highlight-color: transparent;
}
/* Variáveis root - dark and light mode */
html[data-theme="light"]{
    --bg: #f5f6f7;
    --color-text: #000;
    --border: 2px solid #000;
    --bg-link: #000;
    --color-link: #fff;
}
html[data-theme="dark"]{
    --bg: #131419;
    --color-text: #fff;
    --border: 2px solid white;
    --bg-link: #fff;
    --color-link: #000;
}
body{
    background-color: var(--bg);
}
/* Conteudo principal */
#container-principal .container-width{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Mudar theme */
#container-principal .container-width .container-input-checkbox{
    display: flex;
    position: absolute;
    left: 350px;
    top: 10px;
}
.mudar-tema{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}
.mudar-tema input{
    display: none;
}
.slider{
    background-color: #0e0e0e;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    border-radius: 34px;
}
.slider:before{
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    border-radius: 50%;
}
input:checked + .slider:before{
    transform: translateX(25px);
}
.slider svg{
    color: #fff;
    position: absolute;
    transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
    pointer-events: none;
}
.efeito-lua{
    opacity: 0;
    left: 9px;
    bottom: 9px;
    transform: translateX(4px);
}
.efeito-sol{
    opacity: 1;
    right: 10px;
    bottom: 9px;
    transform: translateX(0px);
}
input:checked + .slider .efeito-lua{
    opacity: 1;
    transform: translateX(0);
}
input:checked + .slider .efeito-sol{
    opacity: 0;
    transform: translateX(-4px);
}
.mudar-tema-wrapper{
    display: flex;
    align-items: center;
}
.mudar-tema-wrapper em{
    margin-left: 10px;
    font-size: 1rem;
}
/* Container infos */
#container-principal .container-width .container-infos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
#container-principal .container-width .container-infos img{
    width: 15%;
    border-radius: 50%;
    border: var(--border);
}
#container-principal .container-width .container-infos h1{
    color: var(--color-text);
    font-size: 2rem;
    padding-top: 10px;
    font-weight: 500;
}
#container-principal .container-width .container-infos p{
    color: var(--color-text);
    font-size: 1.4rem;
    font-weight: 400;
}
/* Links */
.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
    padding-top: 20px;
}
.links a{
    width: 33%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: var(--border);
    border-radius: 5px;
    transition: .3s;
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.4rem;
    gap: .5rem;
}
.links a:hover{
    background-color: var(--bg-link);
    color: var(--color-link);
}
/* Footer */
#container-principal .container-width .container-infos #rodape{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
#container-principal .container-width .container-infos #rodape p{
    font-size: 1.2rem;
    max-width: 500px;
    margin: 0 auto;
}

/* Responsividade - 1280px */
@media screen and (max-width: 1280px){
    #container-principal .container-width .container-input-checkbox{
        left: 310px;
    }
}

/* Responsividade - 1024px */
@media screen and (max-width: 1024px){
    #container-principal .container-width .container-input-checkbox{
        left: 180px;
    }
    #container-principal .container-width .container-infos{
        padding-top: 0px;
    }
}

/* Responsividade - 768px */
@media screen and (max-width: 768px){
    /*Dark mode*/
    #container-principal .container-width .container-input-checkbox{
        left: 130px;
    }
    /* Container infos */
    #container-principal .container-width .container-infos img{
        width: 20%;
    }
    #container-principal .container-width .container-infos h1{
        font-size: 1.9rem;
    }
    #container-principal .container-width .container-infos p{
        font-size: 1.3rem;
    }
    /* Links */
    .links a{
        font-size: 1.3rem;
    }
}

/* Responsividade - 540px */
@media screen and (max-width: 540px){
    #container-principal .container-width .container-input-checkbox{
        left: 70px;
    }
    #container-principal .container-width .container-infos{
        padding-top: 80px;
    }
    /* Container infos */
    #container-principal .container-width .container-infos img{
        width: 30%;
    }
    /* Links */
    .links{
        gap: 0%;
    }
    .links a{
        width: 70%;
        font-size: 1.4rem;
    }
    /* Footer */
    #container-principal .container-width .container-infos #rodape{
        padding-top: 0px;
        padding-bottom: 10px;
    }
}

/* Responsividade - 425px */
@media screen and (max-width: 425px){
    /*Dark mode*/
    #container-principal .container-width .container-input-checkbox{
        left: 40px;
    }
    /* Container infos */
    #container-principal .container-width .container-infos img{
        width: 35%;
    }
    #container-principal .container-width .container-infos h1{
        font-size: 1.8rem;
    }
    #container-principal .container-width .container-infos p{
        font-size: 1.3rem;
    }
    .links a{
        width: 80%;
    }
    #container-principal .container-width .container-infos #rodape p{
        font-size: 1.1rem;
    }
}

/* Resposividade - 375px */
@media screen and (max-width: 375px){
    /*Dark mode*/
    #container-principal .container-width .container-input-checkbox{
        left: 20px;
    }
    .mudar-tema{
        height: 32px;
    }
    .slider{
        border-radius: 32px;
    }
    .slider:before{
        height: 24px;
        width: 24px;
    }
    .efeito-lua{
        bottom: 8px;
    }
    .efeito-sol{
        bottom: 8px;
    }
    /* Container infos */
    #container-principal .container-width .container-infos img{
        width: 40%;
    }
    #container-principal .container-width .container-infos h1{
        font-size: 1.7rem;
    }
    #container-principal .container-width .container-infos p{
        font-size: 1.2rem;
    }
    /* Links */
    .links a{
        width: 90%;
    }
    #container-principal .container-width .container-infos #rodape p{
        font-size: 1rem;
    }
}

/* Responsividade - 320px */
@media screen and (max-width: 320px){
     /*Dark mode*/
     #container-principal .container-width .container-input-checkbox{
        left: 10px;
    }
    /* Container infos */
    #container-principal .container-width .container-infos h1{
        font-size: 1.6rem;
    }
    #container-principal .container-width .container-infos p{
        font-size: 1.1rem;
    }
    /* links */
    .links a{
        width: 90%;
        font-size: 1.3rem;
    }
    #container-principal .container-width .container-infos #rodape p{
        font-size: 1rem;
    }
}

/* Responsividade - 280px */
@media screen and (max-width: 280px){
    /*Dark mode*/
    #container-principal .container-width .container-input-checkbox{
        left: 10px;
    }
    /* Container infos */
    #container-principal .container-width .container-infos h1{
        font-size: 1.4rem;
    }
    #container-principal .container-width .container-infos p{
        font-size: 1rem;
    }
    /* links */
    .links a{
        width: 90%;
        height: 90px;
        font-size: 1.2rem;
    }
    #container-principal .container-width .container-infos #rodape p{
        font-size: 0.9rem;
    }
}